body {
    background-color: rgb(86, 172, 65);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    
}

th .image1 {
    width: 0px;
    height: 0px;
}